<% layout('layouts/boilerplate')%>
    <form method="POST" action="/campgrounds/<%=campground._id%>?_method=PUT" novalidate class="validated-form"
        enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="campground[title]">Name</label>
            <input class="form-control" type="text" placeholder="Enter the Name" name='campground[title]' id='name'
                value="<%= campground.title  %>" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="campground[location]">Location</label>
            <input class="form-control" type="text" name="campground[location]" id="location"
                placeholder="Enter the location" value="<%= campground.location  %>" required>
        </div>

        <div class="col-auto">
            <label class="sr-only" for="campground[price]">Campground Price</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">₹</div>
                </div>
                <input type="Number" class="form-control" name="campground[price]" placeholder="Price"
                    value="<%= campground.price  %>" required>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="campground[description]">Description</label>
            <textarea class="form-control" type="text" name="campground[description]" id="image"
                required><%= campground.description  %></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Images</label>
            <input class="form-control" type="file" name="image" id="" multiple>
        </div>
        <div class="mb-3">
            <% campground.images.forEach(function(img,i){ %>
                <%console.log(img)%>
                <img src="<%=img.thumbnail%>" alt="" class = "rounded mx-auto d-block w-25">
                <div class="form-check-inline">
                    <input type="checkbox" id="Input-<%=i%>" name = "deleteImages[]" value = "<%=img.filename%>">
                    <label for="Input-<%=i%>">delete?</label>
                </div>

                <% }) %>
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Submit</button>
        </div>

    </form>